<div class="top-menu flex">
    <button (click)="openFileExplorer()">Open</button>

    <input type="file" 
            class="hide" 
            accept="image/png, image/jpeg"
            (change)="onFileSelected($event)"
            #fileExplorer>
    <span> | </span>
    <button (click)='undo()' [disabled]="!canUndo">Undo</button>
    <button (click)='redo()' [disabled]="!canRedo">Redo</button>
    <span>
        <span *ngFor="let c of commandStack$|async"
               [ngClass]="{underline:c.id===(activeCommandId$|async)}">{{c.id}}-{{c.name}}, </span>
    </span>
</div>
