<div class="top-menu flex">
    <button (click)="openFileExplorer()">Open</button>

    <input type="file" 
            class="hide" 
            accept="image/png, image/jpeg"
            (change)="onFileSelected($event)"
            #fileExplorer>
    <span> | </span>
    <button (click)='undo()' [disabled]="!canUndo">Undo</button>
    <button (click)='redo()' [disabled]="!canRedo">Redo</button>
    <span> | </span>
    <button (click)="save()" [disabled]="(currentImage$|async).width === 0">Save</button>
</div>
